.custom-navbar {
    -color: white;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.37); 
    box-shadow: 0px 1px 15px 0px rgba(103, 103, 103, 0.37);
}

.custom-canvas {
  min-height: 350px;
}

.space{
  height: 100px;
  width: 200px;
}

.get-started{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #000000;
  color: white;
}

.get-started:hover {
  color: white;
  background-color: #157f62;
  border: 1px solid #157f62;

}

.fs-7{
  font-size: 14px;
  font-weight: light;
  width: 300px;
}

.fs-8{
  font-size: 14px;
  font-weight: light;
  width: 500px;
}

.tour{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1BA781;
  border: 2px solid #1BA781;
  border-radius: 5px;
  color: white;
  width: 150px;
  height: 35px;
  cursor: pointer;
}

.line{
  border-right: 1px solid rgb(225, 218, 218);
}